/* CSS Reference
	Quickhand -
		margin: top right bottom left
		border: width type color  
	Defaults - 
		p.font-size: 16px
*/
/* Menu Navigation */
ul.nav-list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #375990;
}

ul.materials-list {
	color: #0D1522;
}

li.nav-element {
	float: left;
}

li.nav-element a {
	display: block;
	color: white;
	text-align: center;
	padding: 13px;
	text-decoration: none;
}

li.nav-element a:hover {
	background-color: #223759;
}

img.diagram {
	max-width: 38%;
	max-height: 38%;
	float: right;
 	padding: 8px;
  	border: 5px solid #375990;
  	margin: 0 13px 0 13px;
	cursor: pointer;
}

ol {
	overflow: hidden;
	color: #0D1522;
}

.guide-header {
	text-align: center;
	color: #0D1522;
}

.zoomOverlay{
  border: 2px solid #375990;
  width: 377px;
  height: 233px;
  float: right;
  position: absolute;
  right: 551px;
  top: 0;
  z-index: 3;
  background-repeat: no-repeat;
}
#first-overlay{
	display: none;
}
#mid-overlay{
	display: none;
}
#final-overlay{
	display: none;
}
h1{
	color: #0D1522;
}
h2{
	color: #0D1522;
}
